<div class="loginPage">

    <form [formGroup]="formdata" (ngSubmit)="login(formdata.value)">

        <h1>LOGIN PAGE</h1>
        <div >  
          <mat-form-field appearance="fill">
            <mat-label for="username" >Username </mat-label> <br>
            <input matInput type="text" formControlName="email">
            <!-- <input matInput value="Login Successful!"  #message > <br><br> -->
          
          </mat-form-field>
        </div>

        <div >
          <mat-form-field appearance="fill">
            <mat-label for="password">Password</mat-label> <br>
            <input matInput type="password" formControlName="password">
            <!-- <input matInput value="Login"  id="ps" type="password" #action > <br> <br> -->
          </mat-form-field>
        </div>
        <!-- <button  mat-stroked-button (click)="openSnackBar( )" >Login</button> -->
        <button  mat-stroked-button >Login</button>
</form>

</div>

