.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://th.bing.com/th/id/OIP.bbQ1Zf12Mw10XeyKicpQ-QHaHa?pid=ImgDet&rs=1');
    background-size: cover;
    
  }
  .i{
    display: flex;
    align-items: left;
    justify-content: left;
    padding-left: 10px;
   
  }
  .text{
    padding-left: 30px;
  }
  