<!-- <p>sidenav works!</p> -->
 <!-- <h1 class="wel"> <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
    </button></h1>
<mat-drawer-container class="example-container" autosize>
    <mat-sidenav #drawer class="example-sidenav" mode="side">

        <button (click)="xyz()">Home</button>
              
    </mat-sidenav> 
     -->
    <!-- <mat-sidenav-content> <div style="height: 50vh;"></div></mat-sidenav-content> -->
  <!-- </mat-drawer-container> 
      <div>  -->
<!-- <mat-icon>menu</mat-icon></div>  -->

<!-- <mat-toolbar color="primary">
   
        <button type="button" (click)="sidenav.toggle();">  menu  </button>

</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
        <mat-nav-list>
            <button mat-list-item (click)="xyz()">Home</button>
        </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height:50vh; width:10px;"></div>
    </mat-sidenav-content>

</mat-sidenav-container> -->