<div>
    <h1>Order Details</h1>
</div>

<form [formGroup]="formdata" (ngSubmit)="submit(formdata.value)">

    <div class="form-group">
        <mat-form-field appearance="fill">
        <mat-label for="sno">S No: </mat-label>
        <input matInput id="s" type="number" formControlName="sno"> <br><br>
    </mat-form-field>
</div>
    <div class="form-group">
        <mat-form-field appearance="fill">
        <mat-label for="item-name">Item Name: </mat-label>
        <input matInput id="iname" type="text" formControlName="iname"> <br> <br>
        <p *ngIf="formdata.controls['iname'].errors?.required">Name is required</p> 
    </mat-form-field>   
    </div>
    
    <div class="form-group">
        <mat-form-field appearance="fill">

        <mat-label for="cost">Cost: </mat-label>
        <input matInput id="icost" type="number" formControlName="cost"> <br><br>
    </mat-form-field>   
    </div>

    <div class="form-group">
        <mat-form-field appearance="fill">
        <mat-label for="address">Shipping Address: </mat-label>
        <input matInput id="saddress" type="text" formControlName="address"> <br> <br>
    </mat-form-field>
</div>

    <div class="form-group">
        <mat-form-field appearance="fill">
        <mat-label for="expected-delivery">Expected Delivery Date: </mat-label>
        <input matInput id="edelivery" type="date" formControlName="edelivery"> <br> <br>
    </mat-form-field>
    </div>

    <!-- <button type="submit" [disabled]="!formdata.valid">Submit</button> -->
    <button type="submit" *ngIf="!data?.showit"  (click)="snackbar1()"> Submit</button>
    
    <button *ngIf="data?.showit" (click)="update(formdata.value);" (click)="snackbar()" >Update</button>
    

</form>